html {
   height: 100%;
   width: 100%;
   margin: 0;
}

body {
   height: 100%;
   width: 100%;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}

.grid-wrapper {
   display: grid;
   grid-template-columns: 30px auto 30px;
   grid-template-rows: 80px 30px auto 30px 150px;
   height: 100%;
   width: 100%;
   margin: 0;
   position: relative;
}

.title {
   grid-column-start: 1;
   grid-column-end: -1;
   grid-row-start: 1;
   grid-row-end: 1;
   background-color: #ffffff;
   text-align: center;
}

.table-margin {
   background-color: #40a040;
   grid-column-start: 1;
   grid-column-end: -1;
   grid-row-start: 2;
   grid-row-end: -1;
   z-index: -1;
}

.cards-on-table-wrapper {
   background-color: #209020;
   border-color: #FFD700;
   border-width: 4px;
   border-style: solid;
   grid-column-start: 2;
   grid-column-end: -2;
   grid-row-start: 3;
   grid-row-end: -3;
   padding: 20px;
}

.cards-on-table-wrapper.game-lost {
   background-color: #902020;
}

.cards-on-table {
   display: grid;
   grid-template-columns: repeat(auto-fill, 150px);
   position: relative;
   column-gap: 40px;
   row-gap: 20px;
}

.cards-on-table img {
   width: 100%;
   height: 100%;
}

.card-placeholder {
   padding-top: 30px;
   padding-bottom: 30px;
}

.card-placeholder.card-higher {
   padding-top: 0px;
   padding-bottom: 60px;
}

.card-placeholder.card-lower {
   padding-top: 60px;
   padding-bottom: 0px;
}

.card-frozen {
   background: url("freeze-icon-png-3.png");
   background-repeat: no-repeat;
   background-position: bottom left;
   background-size: 15px 15px;
   z-index: 2;
}

.score {
   color: #FFD700;
   font-size: xx-large;
   text-align: center;
   border-width: 2px;
   border-color: #000000;
   border-style: solid;
   padding: 2px;
   height: 40px;
   width: 40px;
   position: absolute;
   grid-column-start: -3;
   grid-column-end: -2;
   grid-row-start: -4;
   grid-row-end: -3;
   right: 15px;
   bottom: 15px;
}

.caption {
   font-size: xx-large;
   text-align: center;
   position: absolute;
   border-width: 2px;
   grid-column-start: 2;
   grid-column-end: -2;
   grid-row-start: -4;
   grid-row-end: -3;
   bottom: 15px;
   width: 100%;
   position: absolute;
}

.controls-grid {
   grid-column-start: 2;
   grid-column-end: -2;
   grid-row-start: -2;
   grid-row-end: -1;
   display: grid;
   grid-template-columns: 200px auto;
   grid-template-rows: 35px 35px auto;
}

.controls-grid .controls-title {
   text-align: right;
   padding-right: 10px;
   padding-top: 2px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   font-weight: 500;
}

.controls-grid button,
.controls-grid select {
   width: 125px;
   height: 30px;
}