html,
body {
   height: 100%;
   width: 100%;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   background-color: #000000;
   color: #ffffff;
}

ul, ol {
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left: 45px;
}


.grid-wrapper {
   max-height: 100%;
   max-width: 100%;
   min-width: 100%;
   min-height: 100%;
   position: relative;
   display: grid;
   grid-template-columns: 60px auto;
   grid-template-rows: 75px auto 35px 30vh 30px;
   grid-template-areas: "set set" "number question" "scoring scoring" ". answer" "controls controls";
}

.grid-wrapper[template="answer-15"] {
   grid-template-rows: 75px auto 35px 15vh 30px;
}
.grid-wrapper[template="answer-10"] {
   grid-template-rows: 75px auto 35px 10vh 30px;
}
.grid-wrapper[template="answer-20"] {
   grid-template-rows: 75px auto 35px 20vh 30px;
}
.grid-wrapper[template="answer-40"] {
   grid-template-rows: 75px auto 35px 40vh 30px;
}
.grid-wrapper[template="answer-45"] {
   grid-template-rows: 75px auto 35px 45vh 30px;
}
.grid-wrapper[template="answer-50"] {
   grid-template-rows: 75px auto 35px 50vh 30px;
}
.grid-wrapper[template="answer-55"] {
   grid-template-rows: 75px auto 35px 55vh 30px;
}
.grid-wrapper[template="answer-60"] {
   grid-template-rows: 75px auto 35px 60vh 30px;
}

.grid-wrapper[template="single"] {
   max-height: 100%;
   max-width: 100%;
   min-width: 100%;
   min-height: 100%;
   grid-template-columns: 53vw 45vw;
   grid-template-rows: 75px auto 35px 30px;
   grid-template-areas: "set set" "question answer" "scoring scoring" "controls controls";
   column-gap: 2vw;
}
   
.question-set {
   grid-area: set;
   font-weight: 600;
   font-size: 36px;
   border-bottom-width: 2px;
   border-bottom-color: #ffffff;
   border-bottom-style: double;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 20px;
}

.question-number {
   grid-area: number;
   font-weight: 400;
   font-size: 52px;
   line-height: 1.3;
   padding-top: 15px;
   text-align: center;
}

.question-text {
   grid-area: question;
   font-weight: 700;
   letter-spacing: 0.064em;
   line-height: 1.3;
   font-size: 52px;
   padding: 15px;
}
.question-text img{
   max-height:500px;
}
.grid-wrapper[template="answer-10"] .question-text img{
   max-height:800px;
}
.grid-wrapper[template="answer-15"] .question-text img{
   max-height:725px;
}
.question-text .note{
   font-style: italic;
   font-size: 0.8em;
   font-weight: 300;
   line-height: 1.25;
}

.scoring {
   grid-area: scoring;
   font-size: 28px;
   font-style: italic;
   color: #ddd;
}

.choicesAndAnswers {
   grid-area: answer;
   font-weight: 400;
   letter-spacing: 0.064em;
   line-height: 1.3;
   font-size: 40px;
}
.grid-wrapper[template="answer-60"] .choicesAndAnswers {
   font-weight: 300;
   font-size: 36px;
}


.choicesAndAnswers .choices::before {
   content: "Choices: ";
}
.choicesAndAnswers .answer::before {
   content: "Answer: ";
}

.choicesAndAnswers .cite {
   font-weight: 200;
   font-size: .7em;
}

.choicesAndAnswers .choices.revealed .correct-answer {
   color: #22ff22;
   font-weight: 700;
   text-decoration: underline;
}

.choicesAndAnswers .choices.revealed .wrong-answer {
   color: #ff2222;
   font-style: oblique;
   text-decoration: line-through;
}

.hidden {
   display: none;
}

.question-controls {
   grid-area: controls;
   border-top-width: 2px;
   border-top-color: #ffffff;
   border-top-style: double;
}

.question-controls-left {
   display: inline;
}

.question-controls-right {
   display: inline;
}

button {
   width: 125px;
   height: 30px;
}

select {
   width: 450px;
   height: 30px;
}