html {
   height: 100%;
   width: 100%;
   margin: 0;
}

body {
   height: 100%;
   width: 100%;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   background-color: #0066ff;
}

.grid-wrapper {
   display: grid;
   grid-template-columns: 3vw 67vw 27vw 3vw;
   grid-template-rows: 80px 30px 27vw 50px auto 20px;
   height: 100%;
   width: 100%;
   margin: 0;
   position: relative;
}

.title {
   grid-column-start: 1;
   grid-column-end: -1;
   grid-row-start: 1;
   grid-row-end: 1;
   background-color: #ffffff;
   text-align: center;
}

.page-margin {
   grid-column-start: 1;
   grid-column-end: -1;
   grid-row-start: 2;
   grid-row-end: -1;
   z-index: -1;
}

.rack {
   border-width: 4px;
   border-style: solid;
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 3;
   grid-row-end: 4;
   padding: 20px;
   display: grid;
   grid-template-columns: repeat(9, 6vw);
   grid-template-rows: 6vw 6vw;
   grid-row-gap: 4vw;
   grid-column-gap: 1vw;
   padding-top: 4vw;
   user-select: none;
}

.rack div {
   height: 100%;
   width: 100%;
   margin: 0;
   border: solid 0.4vw white;
   background-color: #222222;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 5vw;
   font-weight: 500;
   color: #FFFFFF;
}

.rack div.vowel,
.rack div.consonant {
   background-color: #0066ff;
}

.controls {
   border-width: 4px;
   border-style: solid;
   grid-column-start: 2;
   grid-column-end: -2;
   grid-row-start: -4;
   grid-row-end: -2;
   padding: 20px;
}
.check {
   grid-column-start: 2;
   grid-column-end: -2;
   grid-row-start: -3;
   grid-row-end: -2;
   padding: 20px;
}

.check h1 {
   margin-top: 0px;
   margin-bottom: 0px;
}

.check div {
   display: inline;
}

/* spell check css */

.entry_container {
   /* margin-top: 0; */
   /* margin-bottom: 0; */
   font-size: 16px;
   color: #2a2a2a;
}

.entry_container .hwd {
   /* margin: 0px; */
   /* font-size: 18px; */
   text-transform: uppercase;
}

.hom {
   /* margin-left: 0px; */
}

.hom span {
   /* margin-top: 0; */
   /* font-size: 14px; */
   font-family: 'Open Sans', sans-serif;
   color: #2a2a2a;
   font-weight: bold;
}

.hom .sense .sensenum {
   /* display: inline-block; */
   /* font-size: 15px; */
   /* vertical-align: middle; */
   text-transform: uppercase;
   /* padding: 0; */
   display: none;
}

.hom .sense .def {
   display: inline-block;
   /* vertical-align: top; */
}

.gramGrp .pos {
   /* font-size: 20px; */
   /* color: #2a2a2a; */
   /* font-weight: bold; */
   display: inline-block;
   min-width: 70px;
   margin-bottom: 8px;
   font-style: italic;

}
.xr a {
   display: none;
}
.xr span.see {
   display: inline-block;
   margin-bottom: 8px;
   font-style: italic;
}
.clock {
   border-width: 4px;
   border-style: solid;
   grid-column-start: 3;
   grid-column-end: 4;
   grid-row-start: 3;
   grid-row-end: 4;
   padding: 20px;
}

.clock svg {
   width: 24vw;
   fill: white;
   stroke: black;
   stroke-width: 1;
   stroke-linecap: round;
   transform: rotate(-90deg);
   --start-seconds: 0;
}

.clock .marks {
   transform: translate(20px, 20px);
   stroke-width: 0.2;
}

.clock .marks>line:nth-child(1) {
   /* There are 12 marks, so we rotate by 30deg (12 * 30 = 360) */
   transform: rotate(30deg);
}

.clock .marks>line:nth-child(2) {
   transform: rotate(calc(2 * 30deg));
}

.clock .marks>line:nth-child(3) {
   transform: rotate(calc(3 * 30deg));
   stroke-width: 0.5;
}

.clock .marks>line:nth-child(4) {
   transform: rotate(calc(4 * 30deg));
}

.clock .marks>line:nth-child(5) {
   transform: rotate(calc(5 * 30deg));
}

.clock .marks>line:nth-child(6) {
   transform: rotate(calc(6 * 30deg));
   stroke-width: 0.5;
}

.clock .marks>line:nth-child(7) {
   transform: rotate(calc(7 * 30deg));
}

.clock .marks>line:nth-child(8) {
   transform: rotate(calc(8 * 30deg));
}

.clock .marks>line:nth-child(9) {
   transform: rotate(calc(9 * 30deg));
   stroke-width: 0.5;
}

.clock .marks>line:nth-child(10) {
   transform: rotate(calc(10 * 30deg));
}

.clock .marks>line:nth-child(11) {
   transform: rotate(calc(11 * 30deg));
}

.clock .marks>line:nth-child(12) {
   transform: rotate(calc(12 * 30deg));
   stroke-width: 0.5;
}

.clock .seconds {
   transform: translate(20px, 20px) rotate(0deg);
   stroke-width: 1;
   stroke: #d00505;
   transform: translate(20px, 20px) rotate(0deg);
}

.animate {
   animation-name: rotateSecondsHand;
   animation-duration: 30s;
   animation-timing-function: steps(600);
   animation-delay: 0s;
   animation-iteration-count: 1;
   animation-direction: normal;
   animation-fill-mode: forwards;
   animation-play-state: initial;
}

.pause {
   animation-play-state: paused;
}

@keyframes rotateSecondsHand {
   from {
      transform: translate(20px, 20px) rotate(0deg);
   }
   to {
      transform: translate(20px, 20px) rotate(180deg);
   }
}

.clock .pin {
   stroke: #d00505;
   stroke-width: 0.2;
}

.clock .branding {
   font-size: 1px;
   font-family: sans-serif;
   transform: translate(12px, 17px) rotate(90deg);
   fill: #dfdfdf;
   stroke: none;
}

.cards-on-table-wrapper.game-lost {
   background-color: #902020;
}

.cards-on-table {
   display: grid;
   grid-template-columns: repeat(auto-fill, 150px);
   position: relative;
   column-gap: 40px;
   row-gap: 20px;
}

.cards-on-table img {
   width: 100%;
   height: 100%;
}

.card-placeholder {
   padding-top: 30px;
   padding-bottom: 30px;
}

.card-placeholder.card-higher {
   padding-top: 0px;
   padding-bottom: 60px;
}

.card-placeholder.card-lower {
   padding-top: 60px;
   padding-bottom: 0px;
}

.card-frozen {
   background: url("images/freeze-icon-png-3.png");
   background-repeat: no-repeat;
   background-position: bottom left;
   background-size: 15px 15px;
   z-index: 2;
}

.score {
   color: #FFD700;
   font-size: xx-large;
   text-align: center;
   border-width: 2px;
   border-color: #000000;
   border-style: solid;
   padding: 2px;
   height: 40px;
   width: 40px;
   position: absolute;
   grid-column-start: -3;
   grid-column-end: -2;
   grid-row-start: -4;
   grid-row-end: -3;
   right: 15px;
   bottom: 15px;
}

.caption {
   font-size: xx-large;
   text-align: center;
   position: absolute;
   border-width: 2px;
   grid-column-start: 2;
   grid-column-end: -2;
   grid-row-start: -4;
   grid-row-end: -3;
   bottom: 15px;
   width: 100%;
   position: absolute;
}

.controls-grid {
   grid-column-start: 2;
   grid-column-end: -2;
   grid-row-start: -2;
   grid-row-end: -1;
   display: grid;
   grid-template-columns: 200px auto;
   grid-template-rows: 35px 35px auto;
}

.controls-grid .controls-title {
   text-align: right;
   padding-right: 10px;
   padding-top: 2px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   font-weight: 500;
}

.controls-grid button,
.controls-grid select {
   width: 125px;
   height: 30px;
}
