
#tabs-bank>div {
   position: relative;
   display: grid;
   grid-template-columns:  13vw repeat(7, 11vw);
   grid-template-rows:     repeat(8, auto);
   grid-template-areas:    "cashh cashc cashc cashc cashc cashc cashc cashc" 
                           "deedsh deedsc-12 deedsc-28 . deedsc-5 deedsc-15 deedsc-25 deedsc-35"
                           "deedsh deedsc-1 deedsc-3 . . deedsc-6 deedsc-8 deedsc-9"
                           "deedsh deedsc-11 deedsc-13 deedsc-14 . deedsc-16 deedsc-18 deedsc-19"
                           "deedsh deedsc-21 deedsc-23 deedsc-24 . deedsc-26 deedsc-27 deedsc-29"
                           "deedsh deedsc-31 deedsc-32 deedsc-34 . deedsc-37 deedsc-39 ."
                           "stockh stockc stockc stockc stockc stockc stockc stockc"
                           "goojfh goojfc-chance goojfc-communityChest . . . . .";
   font-size: 1.4vh;
   background-color: #e9e9e9;
   width:fit-content;
   margin-left: 2vw;
   row-gap: 1vw;
}

/* Zebra rows */
#tabs-bank .cash-header, #tabs-bank .cash-content, #tabs-bank .building-stock-header, #tabs-bank .building-stock-content {
   background-color: #f3f3f3;
}

/* margins / padding */

#tabs-bank .cash-header, #tabs-bank .cash-content { padding-top: 1vh;}
#tabs-bank .cash-content { padding-bottom: 0.5vh;}
#tabs-bank .monopoly-card.s35, #tabs-bank .monopoly-card.s9, #tabs-bank .monopoly-card.s19, #tabs-bank .monopoly-card.s29, #tabs-bank .building-stock-content { margin-right: 1vw;}
#tabs-bank .monopoly-card.goojf, #tabs-bank .goojf-header { margin-bottom: 1vh;}
#tabs-bank .cash-header, #tabs-bank .deeds-header, #tabs-bank .building-stock-header, #tabs-bank .goojf-header { padding-left: 1vw }

/* BANK - CASH */
#tabs-bank .cash-header             { grid-area: cashh; }
#tabs-bank .cash-content            { grid-area: cashc; }
#tabs-bank .cash-content > div > span{
   display: inline-block;
}
#tabs-bank .cash-content > div > span:nth-child(1){
   min-width: 7em;
}
#tabs-bank .cash-content > div > span:nth-child(3) {
   min-width: 3.5em;
   text-align: right;
}
#tabs-bank .cash-content > div > span:nth-child(1):after    { content: ":"; }
#tabs-bank .cash-content > div > span:nth-child(2):before   { content: "£"; }
#tabs-bank .cash-content > div:nth-child(3) > span:nth-child(2), #tabs-bank .cash-content > div:nth-child(3) > span:nth-child(3) {
   border-bottom-style: double;
   border-top-style: solid;
   border-top-width: 1px;
}


/* BANK - BUILDING STOCK */
#tabs-bank .building-stock-header   { grid-area: stockh; }
#tabs-bank .building-stock-content  { grid-area: stockc; }
#tabs-bank .building-stock-content .icons.house {
   padding: 4px;
   font-size: 1.0em;
   letter-spacing: 0.25em;
}
#tabs-bank .building-stock-content .icons.hotel {
   padding-top:    4px;
   padding-bottom: 4px;
   padding-left:   4px;
   padding-right:  8px;
   font-size: 1.6em;
   letter-spacing: 0.25em;
}
#tabs-bank .building-stock-content .summary {
   font-size: 0.75em;
}


/* BANK - DEEDS and GOOJF -- .monopoly-card includes deeds and get out of jail free cards */

#tabs-bank .deeds-header            { grid-area: deedsh; }
#tabs-bank .goojf-header            { grid-area: goojfh; }

.monopoly-card {
   margin: 5px;
   padding:0vw;
   background-color: white;
}
.monopoly-card.mini { 
   height: 10vh; 
   min-height: 80px;
   max-height: 110px;
   width: 10vw;
   min-width: 80px;
   max-width: 180px;
   border-radius: 5px;
   border-color: black;
   border-width: 4px;
   border-style: solid;
   font-size: 1.25vh;
   cursor: pointer;
}
.monopoly-card.full { 
   height: 45vh; 
   min-height: 45vh; 
   max-height: 45vh; 
   width: 37vh; 
   min-width: 37vh; 
   max-width: 37vh; 

   border-radius: 0px;
   border-color: black;
   border-width: 2px;

   position: relative;
   display: grid;
   grid-template-columns:  2vh auto 2vh ;
   grid-template-rows:     2vh 12vh auto 2vh;
   grid-template-areas:    ". .      ." 
                           ". title  ."
                           ". detail ."
                           ". .     .";
   background-color: white;
   row-gap: 1px;
   border-style: outset;
}


.monopoly-card.mini.set-brown         { border-color: brown;        }
.monopoly-card.mini.set-blue          { border-color: deepskyblue;  }
.monopoly-card.mini.set-pink          { border-color: crimson;      }
.monopoly-card.mini.set-orange        { border-color: orange;       }
.monopoly-card.mini.set-red           { border-color: red;          }
.monopoly-card.mini.set-yellow        { border-color: yellow;       }
.monopoly-card.mini.set-green         { border-color: darkgreen;    }
.monopoly-card.mini.set-purple        { border-color: darkblue;     }
.monopoly-card.chance            { background-color: #FCF4D9;     border-color: #FCF4D9;  }
.monopoly-card.communityChest    { background-color:LightPink;    border-color:LightPink; }

.monopoly-card.colour>.title     { 
   text-align: center;
}
.monopoly-card.non-colour>.title, .monopoly-card.goojf>.title {
   text-align: left;
   border-bottom: 1px solid black;
}
.monopoly-card.set-brown>.title  { background-color: brown;       color: white }
.monopoly-card.set-blue>.title   { background-color: deepskyblue; color: black }
.monopoly-card.set-pink>.title   { background-color: crimson;     color: white }
.monopoly-card.set-orange>.title { background-color: orange;      color: black }
.monopoly-card.set-red>.title    { background-color: red;         color: white }
.monopoly-card.set-yellow>.title { background-color: yellow;      color: black }
.monopoly-card.set-green>.title  { background-color: darkgreen;   color: white }
.monopoly-card.set-purple>.title { background-color: darkblue;    color: white }

.monopoly-card.full .title {
   grid-area:title;
   text-transform: uppercase;
   font-size: 2.5vh;
   text-align: center;
   grid-area:title;
}

.monopoly-card.mini .title-icon {
   display: block;
   float: left;
   min-width: 1vh;
   font-size: 1.5em;
   padding-right: 0.50vw;
   padding-left:  0.25vw;
   /* height + padding-top + padding-bottom = 4vh => the height set by .title-text */
   min-height: 2vh;
   max-height: 2vh;
   padding-bottom: 0.5vh;
   padding-top: 0.5vh;
}
.monopoly-card.full .title-icon {
   display: none; 
}

.monopoly-card .title-text {
   font-weight: 600;
   display: block;
}
.monopoly-card.mini .title-text {
   line-height: 1.5vh;
   overflow: hidden;
   text-overflow: ellipsis;
   min-height: 3vh;
   max-height: 3vh;
}
.monopoly-card.mini .title-subtitle { display: none; }
.monopoly-card.full .title-subtitle { font-size: 0.6em; }

.monopoly-card.mini .detail {
   text-align: center;
   padding-right: 1vw;
   padding-bottom: 0.6vh;
}
.monopoly-card.mini .detail-icon {
   font-size: 1.0em;
   padding-right: 6px;
   padding-top: 6px;
}
.monopoly-card.mini .detail-text {
   font-size: 1.0em;
   font-weight: 400;
}
.monopoly-card.full .detail { grid-area:detail; }
.monopoly-card.full .detail .cash { text-align: right; }
.monopoly-card.full .detail .cash:before { content: "£"; }

.monopoly-card.full .detail {
   letter-spacing: 0.08em;
}
.monopoly-card.full .detail table {
   width: 90%;
}

.monopoly-card.mini.deed.owned {
   border-style: groove;
   background-color: #e7e7e7;
}
.monopoly-card .status{
   text-align: center;
}
.monopoly-card.full .status{
   display: none;
}
.monopoly-card.mini.mortgaged .status{
   color: white;
   background-color: red;
   font-weight: 800;
   overflow: hidden;
   text-overflow: ellipsis;
}


.monopoly-card.full.mortgaged {
   grid-template-columns:  2vh auto 2vh ;
   grid-template-rows:     2vh 15vh 8vh auto 2vh;
   grid-template-areas:    ". .      ." 
                           ". top    ."
                           ". middle ."
                           ". bottom ."
                           ". .      .";
   color: white;
}
.monopoly-card.full.mortgaged > div {
   background-color: #ff0000;
   text-align: center;
}
.monopoly-card.full.mortgaged > div.mortgaged-top {
   grid-area:top;
   padding-top: 3vh;
   font-size: 2.6em;
   font-weight: 700;
}
.monopoly-card.full.mortgaged > div.mortgaged-middle {
   grid-area:middle;
   padding-top: 1vh;
   padding-bottom: 1vh;
}
.monopoly-card.full.mortgaged > div.mortgaged-middle .mortgaged-middle-title {
   text-transform: uppercase;
   font-size: 1.6em;
   font-weight: 650;
}
.monopoly-card.full.mortgaged > div.mortgaged-middle .mortgaged-middle-value {
   font-size: 1.3em;
}
.monopoly-card.full.mortgaged > div.mortgaged-middle .mortgaged-middle-value .cash::before {
   content: "£";
}
.monopoly-card.full.mortgaged > div.mortgaged-bottom {
   grid-area:bottom;
   padding-top: 6vh;
   font-size: 1.3em;
   padding-left: 2vh;
   padding-right: 2vh;
}










.fas.fa-home{
   color: seagreen;
}
.fas.fa-hotel{
   color: red;
}
.fas.fa-home.sold, .fas.fa-hotel.sold {
   color: #ddd;
}

.fas.fa-info-circle{
   color: #00e;
}
.fas.fa-times-circle{
   color: #e00;
}
.fas.fa-tick-circle{
   color: #0e0;
}




#tabs-board>div.container-fluid {
   position: relative;
   display: grid;
   grid-template-columns: auto min-content auto;
   grid-template-areas:  ". board .";
   font-size: 1.0vh;
   font-family:Helvetica, sans-serif;
}

#tabs-board .board-content {
   grid-area: board;  
   position: relative;
   display: grid;
   grid-template-columns: 3vh 8vh 3vh repeat(9, 7vh) 3vh 11vh;
   grid-template-rows: 10vh 3vh repeat(9, 6.5vh) 3vh 7vh 3vh;
   grid-template-areas: 

   "s20 s20 s20 s21o s22o s23o s24o s25o s26o s27o s28o s29o s30 s30"
   "s20 s20 s20 s21i s22i s23i s24i s25i s26i s27i s28i s29i s30 s30"
   "s19o s19o s19i cntr cntr cntr cntr cntr cntr cntr cntr cntr s31i s31o"
   "s18o s18o s18i cntr cntr cntr cntr cntr cntr cntr cntr cntr s32i s32o"
   "s17o s17o s17i cntr cntr cntr cntr cntr cntr cntr cntr cntr s33i s33o"
   "s16o s16o s16i cntr cntr cntr cntr cntr cntr cntr cntr cntr s34i s34o"
   "s15o s15o s15i cntr cntr cntr cntr cntr cntr cntr cntr cntr s35i s35o"
   "s14o s14o s14i cntr cntr cntr cntr cntr cntr cntr cntr cntr s36i s36o"
   "s13o s13o s13i cntr cntr cntr cntr cntr cntr cntr cntr cntr s37i s37o"
   "s12o s12o s12i cntr cntr cntr cntr cntr cntr cntr cntr cntr s38i s38o"
   "s11o s11o s11i cntr cntr cntr cntr cntr cntr cntr cntr cntr s39i s39o"
   "s10a jail jail s9i s8i s7i s6i s5i s4i s3i s2i s1i s0 s0"
   "s10a jail jail s9o s8o s7o s6o s5o s4o s3o s2o s1o s0 s0"
   "s10a s10c s10c s9o s8o s7o s6o s5o s4o s3o s2o s1o s0 s0"
   ;
   column-gap: 0.3vh;
   row-gap: 0.3vh;
   background-color: #000;
   border: 1vh solid red;
}

.square {
   background-color: white;
   text-align: center;
}


.square.outer{
   padding-top: 0.25em;
}


/** Corner Square - Go */
.square.s0 {
   padding-top: 0.25em;
}
.square.s0 .message {
   min-height: 3.25em;
}
.square.s0 .title span {
   font-size: 1.1em;
}
.square.s0 .title div {
   color: red;
   font-size: 3em;
   font-weight: 600;
   min-height: 1.5em;
}
.square.s0 .avatars {
   min-height: 3.25em;
}
.square.s0 .icon {
   min-height: 3vh;
}

.square.s0 .icon .arrow {
   height: 2vh;
   width: 13vh;
   margin-left:auto;
   margin-right: auto;
}
.square.s0 .icon .left {
   border: solid red;
   border-width: 0 4px 4px 0;
   display: inline-block;
   padding: 3px;
   transform: rotate(135deg);
   height: 0.5vh;
   width: 0.5vh;
}
.square.s0 .icon .bar{
	border-top: 4px solid red;
   width : 9.2vh;
   margin-top: -1.08vh;
   margin-left:1.3vh;
}
.square.s0 .icon span.spacer{
	width: 7vh;
   display: inline-block;
}

/** Corner Square - Just visiting */

/* .square.s10.s10a {
   margin-bottom: -0.3vh;
} */
.square.s10.s10a .title {
   font-size: 2em;
   transform: rotate(90deg);
   transform-origin: 1.5vh 1.5vh;
   width: 13.6vh;
   height: 3vh;
}
.square.s10.s10c {
   margin-left: -0.3vh;
   padding: 0em;
}

/** Corner Squares - Free Parkng & Go To Jail */
.square.s20, .square.s30 {
   padding-top: 0.25em;
}
.square.s20 .title, .square.s30 .title {
   text-transform: uppercase;
   font-size: 2em;
   font-weight: 600;
   font-style: normal;
   min-height: 2.4em;
}
.square.s20 .avatars, .square.s30 .avatars {
   min-height: 3.25em;
}
.square.s20 .icon, .square.s30 .icon {
   font-size: 4vh;
   min-height: 1.25em;
}


/** Corner Squares - Jail */

/* NOTE: .jailcell exists on the board and in the #modalPlayerIncarcerated modal*/

.square.s40{
   padding: 0em;
   background-color: orange;
}
#modalPlayerIncarcerated .square.s40 {
   width:25vh;
   max-width:25vh;
   height:25vh;
   max-height:25vh;
   border: 0.4vh solid black;
}


.jailcell {
   background-color: black;
   margin-left: 1vh;
   margin-right: 1vh;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 2em auto 2em;
   grid-template-areas: 
   "t1 t1 t1"
   "c1 c2 c3"
   "t2 t2 t2"
   ;   
   column-gap: 0.4vh;
   row-gap: 0.4vh;
   border-left: 0.4vh solid black;
   border-right: 0.4vh solid black;
   height:100%;
}

#modalPlayerIncarcerated .jailcell {
   grid-template-rows: 6vh auto 6vh;
}
.jailcell .title{
   background-color: orange;
   color: black;
   margin-left: -0.4vh;
   margin-right: -0.4vh;
   font-size: 2em;
}
#modalPlayerIncarcerated .jailcell .title{
   font-size: 3em;
   font-weight: 600;
}

.square.s40 .jailcell .cell {
   background-color: white;
   height: 5vh;
}
#modalPlayerIncarcerated .jailcell .cell {
   height: 100%;
   padding-top: 3vh;
}
#modalPlayerIncarcerated .jailcell .cell .avatar.active {
   height: 5vh;
   border-bottom: 0px;
}
#modalPlayerIncarcerated .jailcell .cell .avatar:not(.active) {
   display: none;
}


.square.s7.inner           .icon span { color: plum;      }
.square.s12.inner          .icon span { color: gold;      }
.square.s22.inner          .icon span { color: blue;      }
.square.s36.inner          .icon span { color: red;       }
.square.set-stations.inner .icon span { color: darkgreen; }


.square.side0 .title, .square.side2 .title {
   min-height: 3.25em;
}
.square.side1 .title, .square.side3 .title {
   min-height: 1.5em;
}
.square .cost {
   min-height: 1.25em
}
.square .cost .mortgaged{
   display: block;
   background-color: red;
   border-top: 1px solid white;
   border-bottom: 1px solid white;
   color: white;
}
.square.side0 .avatars, .square.side2 .avatars {
   min-height: 5.6em;
}
.square.side1 .avatars, .square.side3 .avatars {
   min-height: 3em;
}

.square.inner.set-brown    { background-color: brown;       color: white }
.square.inner.set-blue     { background-color: deepskyblue; color: black }
.square.inner.set-pink     { background-color: crimson;     color: white }
.square.inner.set-orange   { background-color: orange;      color: black }
.square.inner.set-red      { background-color: red;         color: white }
.square.inner.set-yellow   { background-color: yellow;      color: black }
.square.inner.set-green    { background-color: darkgreen;   color: white }
.square.inner.set-purple   { background-color: darkblue;    color: white }

.square.inner{
   height: 100%;
   width: 100%;
   justify-content: center;
   align-items: center;
   display: flex;
}
.square.inner .icon {
   font-size: 1.2em;
}
.square.inner.side0 .icon span.static + span.owner, .square.inner.side2 .icon span.static + span.owner {
   padding-left: 1vh;
}
.square.inner.side1 .icon span.static + span.owner, .square.inner.side3 .icon span.static + span.owner {
   display: block;
   padding-top: 1vh;
}
.square.inner .status {
   font-size: 1em;
}
/* .square.inner .hoverOff {
   display: flex;
} */
.square.inner .hoverOn{
   display: none;
}
.square.inner:hover .hoverOff {
   display: none;
}
.square.inner:hover .hoverOn{
   display: flex;
}

.square.inner.set-pink  .fa-home { color: #050; }
.square.inner.set-pink  .fa-hotel{ color: #500 }
.square.inner.set-red   .fa-hotel{ color: black; }
.square.inner.set-green .fa-home { color: #202; }



.square img.avatar  {
   height: 2.2vh;
   z-index: 100;
   position: relative;
   border-bottom: 4px;

}
.square.side0 img.avatar  {
   float: bottom;
}
.square.side1 img.avatar  {
   float: left;
}
.square.side2 img.avatar  {
   float: bottom;
}
.square.side3 img.avatar  {
   float: right;
}
.square img.avatar.active  {
   border-bottom: 4px solid black;
}




#tabs-board .board-content .board.center {
   grid-area: cntr;  
   position: relative;
   display: grid;
   grid-template-columns: repeat(9, 1fr);
   grid-template-rows: repeat(9, 1fr);
   grid-template-areas: 
   ". . . . . . . . ."
   ". cchest cchest cchest . . . . ."
   ". cchest cchest cchest . . . . ."
   ". . . . . . . . ."
   ". title title title title title title title ."
   ". . . . . . . . ."
   ". dice dice dice . chance chance chance ."
   ". dice dice dice . chance chance chance ."
   ". . . . . . . . ."
   ;
   background-color: white;
}

#tabs-board .board-content .board.center .title {
   grid-area: title;
   font-size: 5.5em;
   letter-spacing: 0.4em;
   font-weight: 500;
   font-family:Helvetica, sans-serif;
   text-align:center;
}

#tabs-board .board-content .board.center .cards {
   box-shadow: 4px 5px;
   padding: 0.33vw;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: column;
}
#tabs-board .board-content .board.center .cards.communityChest {
   grid-area: cchest;
   background-color:LightPink;
}
#tabs-board .board-content .board.center .cards.chance{
   grid-area: chance;
   background-color: #FCF4D9;
}
#tabs-board .board-content .board.center .cards .icon{
   font-size: 5em;
}
#tabs-board .board-content .board.center .cards div{
   font-size: 1em;
   text-align: center;
}

#tabs-board .board-content .board.center .cards div.main{
   font-size: 1.6em;
}

#tabs-board .board-content .board.center .dice{
   grid-area: dice;
   background-color: #209020;
   box-shadow: 4px 5px;
   text-align: center;
   /* padding: 0.66vh; */
   display: flex;
   justify-content: center;
   align-content: stretch;
}
#tabs-board .board-content .board.center .dice .dice-inner {
   background-color: #209020;
   text-align: center;
   /* border: 0.3vh solid yellow; */
   width: 100%;
   display: grid;
   grid-template-columns: auto 5vh auto;
   grid-template-rows: auto 5vh auto;
   grid-template-areas: "top top top" "die1 total die2" "bottom bottom bottom";
}
#tabs-board .board-content .board.center .dice-inner-topmsg {
   grid-area: top;
   color: #FFF;
   display: flex;
   justify-content: center;
   align-items: center;
}
#tabs-board .board-content .board.center .dice-inner-topmsg img {
   height: 2em;
   position: relative;
}
#tabs-board .board-content .board.center .dice-inner-topmsg span {
   font-size: 1.6em;
   margin-left: 1vh;
}
#tabs-board .board-content .board.center .dice-inner-bottommsg {
   grid-area: bottom;
   color: #FFF;
   /* display: flex;
   justify-content: center;
   align-items: center; */
   font-size: 1.6em;
   padding-left: 0.4em;
   padding-right: 0.4em;
}
#tabs-board .board-content .board.center .dice-inner-die1 {
   grid-area: die1;
   display: flex;
   justify-self: right;
   align-items: center;
}
#tabs-board .board-content .board.center .dice-inner-die2 {
   grid-area: die2;
   display: flex;
   justify-self: left;
   align-items: center;
}
#tabs-board .board-content .board.center .dice-inner-total {
   grid-area: total;
   display: flex;
   justify-self: center;
   align-items: center;
   color: yellow;
   font-size: 2em;;
}


.diceFace {
   background-color: #e70000;
   width: 4vh;
   height: 4vh;
   padding: 0.5vh;
   object-fit: contain;
   
   box-shadow:
     inset 0 5px #f00, 
     inset 0 -5px #b00,
     inset 5px 0 #d70000, 
     inset -5px 0 #d70000;

   border-radius: 10%;
}
.diceFace.d1{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   grid-template-areas: ". . ." ". a ." ". . .";
}
.diceFace.d2{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   grid-template-areas: "a . ." ". . ." ". . b";
}
.diceFace.d3{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   grid-template-areas: "a . ." ". b ." ". . c";
}
.diceFace.d4{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   grid-template-areas: "a . b" ". . ." "c . d";
}
.diceFace.d5{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   grid-template-areas: "a . b" ". c ." "d . e";
}
.diceFace.d6{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   grid-template-areas: "a . b" "c . d" "e . f";
}
.diceFace>.pip{
   display: flex;
   align-self: center;
   justify-self: center;
   width: 1vh;
   height: 1vh;
   border-radius: 50%;
   background-color: #ccc;
   box-shadow: inset 0 3px #ddd, inset 0 -3px #aaa;
}


