html {
   font-family: Arial, Helvetica, sans-serif;
}

#tabs-players>div.content {
   position: relative;
   display: grid;

   grid-template-columns: auto;
   grid-template-rows: repeat(6, 20vh);

   row-gap: 5px;
   column-gap: 0px;

   background-color: #f3f3f3;
   font-size: 2vh;
   /* font-size: 1.8vh;
   padding: 0.3vw; */

}

.player.wrapper {
   position: relative;
   display: grid;
   background-color: #ffffff;

   grid-template-columns: 6vw 16vw auto;
   grid-template-rows: 6vw 4vw auto;
   grid-template-areas: 
   "token cash  deeds"
   "name  netw  deeds"
   "name  goojf deeds";
   row-gap: 0px;
   column-gap: 0.1vw;
   border: 2px solid black;
   border-radius: 5px;
   padding: 0px;
   margin: 0px;
   width: 100%;
   height: 100%;
}

#tabs-players .token{
   grid-area: token;
   align-self: center;
   text-align: center;
}
#tabs-players .token>img{
   height:80%;
   width:80%;
}

#tabs-players .name{
   grid-area: name;
   transform: rotate(270deg);
   align-self: center;
   text-align: center;
   font-size: 1.5em;
   font-weight: bold;
}

#tabs-players .cash, #tabs-players .netWorth, #tabs-players .goojf {
   background-color: #eee;
   height: 100%;
}
#tabs-players .cash{
   grid-area: cash;
   align-self: center;
   text-align: center;
   font-size: 1.5em;
   font-weight: bold;
}
#tabs-players .cash:before{
   content: "£";
}
#tabs-players .netWorth{
   grid-area: netw;
   font-size: 0.8em;
   text-align: center;
}
#tabs-players .goojf {
   grid-area: goojf;
}
#tabs-players .deeds {
   grid-area: deeds;
   overflow-x: auto;
}

#tabs-players .cards{
   margin: 0px;
   display: grid;
   grid-template-columns: repeat(auto-fill, 8vw);
   position: relative;
   padding-left: 0px;
   font-size: 0.6em;
}

#tabs-players .cards > .card {
   height: 8vw;
   margin: 5px;
   border-radius: 5px;
   border-color: black;
   border-width: 3px;
   border-style: solid;
   list-style-type: none;
   background-color: white;
}

#tabs-players .card.chance {
   background-color: #FCF4D9;
   border-color: #FCF4D9;
}
#tabs-players .card.communityChest {
   background-color:LightPink;
   border-color:LightPink;
}

#tabs-players .card.set-brown    { border-color: brown;        }
#tabs-players .card.set-blue     { border-color: deepskyblue;  }
#tabs-players .card.set-pink     { border-color: crimson;      }
#tabs-players .card.set-orange   { border-color: orange;       }
#tabs-players .card.set-red      { border-color: red;          }
#tabs-players .card.set-yellow   { border-color: yellow;       }
#tabs-players .card.set-green    { border-color: darkgreen;    }
#tabs-players .card.set-purple   { border-color: darkblue;     }

#tabs-players .card.deed.mortgaged {
   background-color: #b70303;
   color: white;
}
#tabs-players .card>.title {
   overflow: hidden;
   text-overflow: ellipsis;
   text-align: center;
   line-height: 1.4em;
   vertical-align: middle;
   font-weight: 600;
   min-height: 3.5vw;
   max-height: 3.5vw;
   margin-bottom: 4px;
   padding-top: 2px
}

#tabs-players .card.set-brown>.title    { background-color: brown;       color: white }
#tabs-players .card.set-blue>.title     { background-color: deepskyblue; color: black }
#tabs-players .card.set-pink>.title     { background-color: crimson;     color: white }
#tabs-players .card.set-orange>.title   { background-color: orange;      color: black }
#tabs-players .card.set-red>.title      { background-color: red;         color: white }
#tabs-players .card.set-yellow>.title   { background-color: yellow;      color: black }
#tabs-players .card.set-green>.title    { background-color: darkgreen;   color: white }
#tabs-players .card.set-purple>.title   { background-color: darkblue;    color: white }

#tabs-players .card>.detail {
   overflow: hidden;
   text-overflow: ellipsis;
   text-align: center;
   vertical-align: bottom;
   font-weight: 300;
   min-height: 3vh;
}
#tabs-players .card>.detail.status-houses {
   font-size: 1.3em;
}
#tabs-players .card>.detail.status-hotel {
   font-size: 3em;
}

#tabs-players .card>.detail.status-morgage {
   font-size: 0.9em;
}
#tabs-players .card>.detail.status-cash {
   font-size: 1.5em;
}
#tabs-players .card>.detail.status-cash:before{
   content : "£";
}
