

#modalAddUserToGameAvatarDiv{
   display: grid;
   position: relative;
   grid-template-columns: repeat(auto-fill,70px);
   column-gap: 5px;
}
#modalAddUserToGameAvatarDiv input{
   position:absolute;
   z-index:999;
   margin: 5px 0 0 12px;
}
#modalAddUserToGameAvatarDiv input:active +label {
   opacity: .9;
}
#modalAddUserToGameAvatarDiv input:checked +label {
   filter: none;
}
#modalAddUserToGameAvatarDiv label {
   cursor:pointer;
   background-size:contain;
   background-repeat:no-repeat;
   display:inline-block;
   width:70px;
   height:70px;
   transition: all 100ms ease-in;
   filter: brightness(1.8) grayscale(1) opacity(.7);
   border: 1px solid black;
   border-radius: 5px;
   margin-left: 7px;
}
#modalAddUserToGameAvatarDiv label:hover{
   filter: brightness(1.2) grayscale(.5) opacity(.9);
}

#modalManageDeedSet-tab-buildings>div {
   position: relative;
   display: grid;
   grid-template-columns:  repeat(3, 11vw) auto;
   grid-template-rows:     10vh auto ;
   grid-template-areas:    "deedcard0 deedcard1 deedcard2 sumamry" "deedctrl0 deedctrl1 deedctrl2 sumamry";
   font-size: 1.4vh;
   width:auto;
   margin-left: 2vw;
   row-gap: 1vw;
}