
/* game cards listing players etc */
#tabs-game-cards .card .card-body {
   position: relative;
   display: grid;
}
#tabs-game-cards .card .card-body.playerList {
   grid-template-columns: 3em repeat(3,auto) 2em 2em;
   grid-template-rows: repeat(6, 2em);
   grid-template-areas:    "p0Avatar p0Name p0Cash p0State p0Banker p0Remove" 
                           "p1Avatar p1Name p1Cash p1State p1Banker p1Remove" 
                           "p2Avatar p2Name p2Cash p2State p2Banker p2Remove" 
                           "p3Avatar p3Name p3Cash p3State p3Banker p3Remove" 
                           "p4Avatar p4Name p4Cash p4State p4Banker p4Remove" 
                           "p5Avatar p5Name p5Cash p5State p5Banker p5RemovePlayerAdd" ;
   grid-column-gap: 3px;
   grid-row-gap: 3px;
}

/* grid-template-areas to class mapping */
#tabs-game-cards .card .card-body.playerList div.player-avatar.player-0 { grid-area: p0Avatar; }
#tabs-game-cards .card .card-body.playerList div.player-avatar.player-1 { grid-area: p1Avatar; }
#tabs-game-cards .card .card-body.playerList div.player-avatar.player-2 { grid-area: p2Avatar; }
#tabs-game-cards .card .card-body.playerList div.player-avatar.player-3 { grid-area: p3Avatar; }
#tabs-game-cards .card .card-body.playerList div.player-avatar.player-4 { grid-area: p4Avatar; }
#tabs-game-cards .card .card-body.playerList div.player-avatar.player-5 { grid-area: p5Avatar; }

#tabs-game-cards .card .card-body.playerList div.player-name.player-0 { grid-area: p0Name; }
#tabs-game-cards .card .card-body.playerList div.player-name.player-1 { grid-area: p1Name; }
#tabs-game-cards .card .card-body.playerList div.player-name.player-2 { grid-area: p2Name; }
#tabs-game-cards .card .card-body.playerList div.player-name.player-3 { grid-area: p3Name; }
#tabs-game-cards .card .card-body.playerList div.player-name.player-4 { grid-area: p4Name; }
#tabs-game-cards .card .card-body.playerList div.player-name.player-5 { grid-area: p5Name; }

#tabs-game-cards .card .card-body.playerList div.player-cash.player-0 { grid-area: p0Cash; }
#tabs-game-cards .card .card-body.playerList div.player-cash.player-1 { grid-area: p1Cash; }
#tabs-game-cards .card .card-body.playerList div.player-cash.player-2 { grid-area: p2Cash; }
#tabs-game-cards .card .card-body.playerList div.player-cash.player-3 { grid-area: p3Cash; }
#tabs-game-cards .card .card-body.playerList div.player-cash.player-4 { grid-area: p4Cash; }
#tabs-game-cards .card .card-body.playerList div.player-cash.player-5 { grid-area: p5Cash; }

#tabs-game-cards .card .card-body.playerList div.player-state.player-0 { grid-area: p0State; }
#tabs-game-cards .card .card-body.playerList div.player-state.player-1 { grid-area: p1State; }
#tabs-game-cards .card .card-body.playerList div.player-state.player-2 { grid-area: p2State; }
#tabs-game-cards .card .card-body.playerList div.player-state.player-3 { grid-area: p3State; }
#tabs-game-cards .card .card-body.playerList div.player-state.player-4 { grid-area: p4State; }
#tabs-game-cards .card .card-body.playerList div.player-state.player-5 { grid-area: p5State; }

#tabs-game-cards .card .card-body.playerList div.player-banker.player-0 { grid-area: p0Banker; }
#tabs-game-cards .card .card-body.playerList div.player-banker.player-1 { grid-area: p1Banker; }
#tabs-game-cards .card .card-body.playerList div.player-banker.player-2 { grid-area: p2Banker; }
#tabs-game-cards .card .card-body.playerList div.player-banker.player-3 { grid-area: p3Banker; }
#tabs-game-cards .card .card-body.playerList div.player-banker.player-4 { grid-area: p4Banker; }
#tabs-game-cards .card .card-body.playerList div.player-banker.player-5 { grid-area: p5Banker; }

#tabs-game-cards .card .card-body.playerList div.player-remove.player-0 { grid-area: p0Remove; }
#tabs-game-cards .card .card-body.playerList div.player-remove.player-1 { grid-area: p1Remove; }
#tabs-game-cards .card .card-body.playerList div.player-remove.player-2 { grid-area: p2Remove; }
#tabs-game-cards .card .card-body.playerList div.player-remove.player-3 { grid-area: p3Remove; }
#tabs-game-cards .card .card-body.playerList div.player-remove.player-4 { grid-area: p4Remove; }
#tabs-game-cards .card .card-body.playerList div.player-remove.player-5 { grid-area: p5RemovePlayerAdd; }

#tabs-game-cards .card .card-body.playerList>div { border-bottom: 1px solid #dddddd;}
#tabs-game-cards .card .card-body.playerList div i { font-size: 1.2em; text-align: center; }
#tabs-game-cards .card .card-body.playerList div.inactive { color: #dddddd;}
#tabs-game-cards .card .card-body.playerList div.player-avatar div { height:100%; max-width: 100%; max-height: 100%;}
#tabs-game-cards .card .card-body.playerList div.player-avatar img { height:100%; max-width: 100%; max-height: 100%;}
#tabs-game-cards .card .card-body.playerList div.player-avatar .dropdown-item img { width: 2em; height: 2em; margin-right: 0.5em;}
#tabs-game-cards .card .card-body.playerList div.player-cash span.cash:before { content:"£"; }
#tabs-game-cards .card .card-body.playerList div.player-state{ text-align: center; }
#tabs-game-cards .card .card-body.playerList div.player-state.injail{ background-color: orange; border: 2px solid black;}
#tabs-game-cards .card .card-body.playerList div.player-add { grid-area: p5RemovePlayerAdd; border-bottom: none;}

#tabs-journal tbody {
   font-size: 0.75rem;
}




